<!DOCTYPE html>
<html>
<head>
    <title>Добавление Металла</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class = "check">
    <h1>Добавление Металла</h1>
     <form method="POST">
        <label>Марка</label><br>
        <input name="mark" class="field" autocomplete="off"/><br><br>
        <label>Термообработка</label><br>
        <input name="thermo" class="field" autocomplete="off"/><br><br>
        <label>Предел текучести</label><br>
        <input name="fluid" class="field" autocomplete="off"/><br><br>
        <label>Предел прочности</label><br>
        <input name="strenght" class="field" autocomplete="off"/><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">К списку металлов</a>
    </div>
</body>
<html>